*{ 
    padding: 0;
    margin: 0;
}
header{  /* used for logos and titles */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55vw; /* vw screen width */
}


.nav{
    display: flex;
}

.nav li{ /* align my elements( title) */
    list-style: none;
    padding: 0 15px;
    font-size: 1.25em;
}

.logo {
    width: 10vw; /* vw screen width */
}

.picture img{
    width: 100vw; /* vw screen width */
    height: 700px; /* image size */
    object-fit: cover; /* solves problems of proportion */
}